html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

div, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

#app-container {
  height: 100%;
}

.ui-root {
  height: 100%;
}

.drag-zoom {
  display: block;
  height: 100%;

  transition: all 0.3s;

  &.inactive {
    background-color: white;
  }

  &.active {
    background-color: #eee;
  }
}

.empty-hints {
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.video-count {
  padding: 16px;
}

.video-card {
  display: flex;
  flex-flow: row wrap;
  padding: 16px;
  position: relative;

  transition: all 0.3s;

  &.video-selected {
    background-color: #eee;
  }

  &.video-detailed {
    .video-stream-detail {
      display: block;
    }
  }

  .video-preview {
    width: 160px;
    height: 90px;
    position: relative;
  }

  .video-info {
    flex: 1 0 auto;
    margin-left: 16px;
  }

  .action-menu {
    position: absolute;
    top: 0;
    right: 12px;
  }

  .convert-progress-bar {
    position: absolute !important;
    bottom: 0;
    left: 0;
  }

  .video-stream-detail {
    display: none;
    width: 100%;
  }

  .action-btn-enter {
    opacity: 0;
    transform: translateX(-20px);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    position: absolute;

    &.action-btn-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .action-btn-leave {
    opacity: 1;
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    transform: translateX(0);
    position: absolute;

    &.action-btn-leave-active {
      opacity: 0;
      transform: translateX(-20px);
    }
  }

  .cancel-btn-enter {
    opacity: 0;
    transform: translateX(20px);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
    position: absolute;

    &.cancel-btn-enter-active {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .cancel-btn-leave {
    position: absolute;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);

    &.cancel-btn-leave-active {
      opacity: 0;
      transform: translateX(20px);
    }
  }

  .video-stream {
    display: flex;
    flex-flow: column wrap;
    height: 300px;
    padding-top: 12px;


    border-bottom: #eee 1px solid;

    &:last-child {
      border-bottom: 0 none;
    }
  }

  .stream-field {
    flex: 0 1 auto;
    width: 20%;
    margin: 0 0 6px;

    dt {
      color: rgba(#000, 0.6);
      font-size: 14px;
    }

    dd {
      margin: 0;

      color: rgba(#000, 0.9);
      font-size: 14px;
    }
  }
}

